{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<h2  class="title">{{ title }}</h2>

<body>
    <div class="container">

            <div class="subtitle">
                Я логопед-дефектолог, и я знаю, как превратить «кашу во рту» в чистую и красивую речь.
            </div>
            <p class="description">
                Если вы читаете этот текст, значит, вас что-то беспокоит в речи вашего ребенка.
                Возможно, он пока молчит, когда сверстники уже болтают без умолку. Или вы перестали понимать, что он говорит.
                А может, вы просто хотите подготовить малыша к школе, чтобы не было проблем с чтением и письмом.
            </p>

            <img class="picture" src="{% static 'app/content/Логопед.jpg' %}" alt="logo" />
        

        <h2 class="title">
            О моем образовании и опыте.
        </h2>

        <div class="subtitle">
            Образование: Высшее профессиональное образование по специальности «Логопедия».
        </div>

        <p class="description">
            Это база, которая позволяет мне отличать простые ошибки от серьезных нарушений.
            Опыт работы: Более 5 лет, помогаю детям и их родителям.
        </p>


        <h2 class="title">
            С какими запросами ко мне можно прийти?
        </h2>

        <div class="subtitle">
            Я специализируюсь на помощи детям от 3 лет до младшего школьного возраста.
        </div>

        <div class="description">
            <ul>
                <li>
                    <strong>Запуск речи:</strong>
                    <ul>
                        <li>Помощь неговорящим детям (в том числе при алалии, ЗРР) «разговориться».</li>
                        <li>
                            Нарушения звукопроизношения: Исправление картавости, шепелявости, замены звуков (дислалия, дизартрия).
                        </li>
                        <li>
                            Общее недоразвитие речи (ОНР): Работа над словарным запасом, грамматическим строем, связной речью.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Подготовка к школе:</strong>
                    <ul>
                        <li>Обучение чтению, профилактика дисграфии и дислексии (ошибок на письме и при чтении).</li>
                    </ul>
                </li>
                <li>
                    <strong>Логопедический массаж:</strong> Если нужно расслабить спастичные мышцы или, наоборот, привести в тонус вялый артикуляционный аппарат.
                </li>
            </ul>
        </div>
    </div>
</body>

{% endblock %}
