{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

<h2 class="title">{{ title }}</h2>
<br />

{% for post in posts %}

<hr />

<div class="">

    <h2 class="subtitle"> {{post.title}} </h2>

    <h4 class="description"> {{post.posted}} </h4>

    <p class="description"> {{post.description}} </p>

    <a class="btn btn-primary" href="{% url 'blogpost' parametr=post.id %}"> Читать далее </a>

</div>

{% endfor %}
{% endblock %}