{% extends "app/layout.html" %}

{% block content %}
<h2 class="title">{{ title }}</h2>

<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card catalog-card">
                <div class="card-body catalog-card-body">
                    <a href="{{ category.get_absolute_url }}" class ="subtitle">{{ category.name }}</a>
                    <div class="description catalog-card-desc">{{ category.description|truncatewords:20 }}</div>
                    <a href="{{ category.get_absolute_url }}" class="btn btn-primary catalog-card-btn">Смотреть услуги</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Категории пока не добавлены</p>
        {% endfor %}
    </div>
</div>
{% endblock %}