{% extends "app/layout.html" %}

{% block content %}

<h2 class="title">{{ title }}</h2>

<address class="description">
    <strong>Логопед-дефектолог Псков<br /></strong>
    <strong>Город, Улица, дом:</strong> Псков, Рижский проспект, 16<br /> 
    <strong>Номер телефона:</strong>
    <abbr title="телефон">
        8 (951) 750 35-35
    </abbr>

</address>

<address class="description">
    <strong>Группа в контакте:</strong><a class ="subtitle" style ="font-size: 16px"href="https://vk.com/teacherlogopedipskov"> Логопед Репетитор</a><br />
</address>

{% endblock %}
