{% extends "app/layout.html" %}

{% block content %}

<h2 class="title">{{ title }}</h2>

<address class="description">
    Центр развития речи «Слово»<br />
    Улица, дом: ул. Лесная, д. 24, корп. 1<br />
    <abbr title="телефон">P:</abbr>
    P: 425.555.0100
</address>

<address class="description"
    <strong>Техническая поддержка:</strong>   <a href="mailto:Support@example.com">support@logoslovo.ru</a><br />
    <strong>Отдел маректинга:</strong> <a href="mailto:Marketing@example.com">marketing@logoslovo.ru</a>
</address>

{% endblock %}
