{% extends "app/layout.html" %}

{% block content %}

<h2 class="title">{{ title }}</h2>

<div class="container">


    <div>
        <a class="subtitle" href="https://431.tvoysadik.ru/?section_id=71">Логопедические занятия для детей</a>
        <div class="description">
            «Изучаем алфавит»: игровые задания со звуками и буквами для подготовки к школе.
        </div>
    </div>
    <div>
        <a class="subtitle" href="https://logopedmaster.ru/blog/logopediya/rechevye-igry-dlya-vsey-semi/">Речевые игры для детей</a>
        <div class="description">
            Игры, направленные на обогащение  словарного запаса и не только.
        </div>

    </div>

    <div>
        <a class="subtitle" href="https://r-rech.ru/">Развитие речи</a>

        <div class="description">
            Методический портал по развитию речи: готовые конспекты занятий, картотеки игр и ФОП-стандарты в одном месте
        </div>
    </div>
</div>

{% endblock %}