

{% extends "app/layout.html" %}
{% load static %}

{% block content %}
{% if not data %}

 <h2 class="title">{{ title }}</h2>

    <form method="post">
        {% csrf_token %}
        <label for="{{form.name.id_for_label}}">{{ form.name.label }}:</label>
        {{form.name}} <br><br>
        <label for="{{form.email.id_for_label}}">{{ form.email.label }}:</label>
        {{form.email}} <br><br>
        <label for="{{form.rating.id_for_label}}">{{ form.rating.label }}:</label>
        {{form.rating}} <br><br>
        <label for="{{form.liked.id_for_label}}">{{ form.liked.label }}:</label>
        {{form.liked}} <br><br>
        <label for="{{form.age.id_for_label}}">{{ form.age.label }}:</label>
        {{form.age}} <br><br>
        <label for="{{form.message.id_for_label}}">{{ form.message.label }}:</label>
        {{form.message}} <br><br>
        <label for="{{form.consent.id_for_label}}">{{ form.consent.label }}:</label>
        {{form.consent}} <br><br>
        <input type="submit" value="Отправить" class="btn btn-default">
    </form>
{% else %}
   <br><h2>Благодарим за предоставленную информацию!</h2>
   <h3>Ваш выбор следующий:</h3>
   <ul>
       <li><span>Ваше имя: </span>{{data.name}}</li>
       <li><span>Ваш email: </span>{{data.email}}</li>
       <li><span>Выбранная вами оценка: </span>{{data.rating}}</li>
       <li><span>Что вам больше всего понравилось: </span>{{data.liked}}</li>
       <li><span>Возраст вашего ребенка: </span>{{data.age}}</li>
       <li><span>Ваш отзыв: </span>{{data.message}}</li>
   </ul>
{% endif %}
{% endblock %}
