{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />


<div class="container">
    <div class="title">{{ service.name }}</div>

    <div class="row">
        <div class="col-md-5">
            {% if service.image %}
            <img src="{{ service.image.url }}" alt="{{ service.name }}">
            {% else %}
            <div class="bg-light text-center p-5 rounded">
                <p class="text-muted">Нет изображения</p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-7">
            <p class="lead subtitle">{{ service.short_description }}</p>

            <table class="table table-bordered">
                <tr>
                    <th description>Категория</th>
                    <td description>{{ service.category.name }}</td>
                </tr>
                <tr>
                    <th description>Цена</th>
                    <td description>
                        {% if service.price %}
                        {{ service.price }} руб.
                        {% else %}
                        <span class="text-success">Бесплатно / Уточняйте</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th description>Длительность</th>
                    <td description>{{ service.duration }}</td>
                </tr>
                <tr>
                    <th description>Возрастная группа</th>
                    <td description>{{ service.age_group }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <!--<h3>Полное описание</h3>-->
            <div class="card">
                <div class="card-body description">
                    {{ service.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a href="{{ service.category.get_absolute_url }}" class="btn btn-primary">
            ← Назад к услугам категории
        </a>
        <a href="{% url 'catalog' %}" class="btn btn-secondary">
            К списку категорий
        </a>
    </div>
</div>
{% endblock %}
