{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

<h2 class="title">{{title}}</h2>
<div class="container">
    <div class="videoblog">
        <div>
            <h2 class="subtitle">Звуковые лягушки. Поем гласные звуки. А. О, У, И, Э</h2>
            <video class ="video" src="/media/newVideo2.mp4" controls="controls" type="video/mp4" poster="{% static 'app/content/АвтоматизацияЗвукаР.jpg' %}"></video>
        </div>

        <div>
            <h2 class="subtitle">Физкультминутка "Буквы"</h2>
            <video class ="video" src="/media/Letters.mp4" controls="controls" type="video/mp4" poster="{% static 'app/content/Физкультминутка.jpg' %}"></video>
        </div>
    </div>
    
</div>

{% endblock %}
