{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

<h2 class="title">{{title}}</h2>
<div class="container">
    <div class="videoblog">
        <div>
            <h2 class="subtitle">Автоматизация звука [Р] в словах со стечением согласных -ТР-</h2>
            <video class ="video" src="/media/video1.mp4" controls="controls" type="video/mp4"></video>
        </div>

        <div>
            <h2 class="subtitle">ЗВУК Р. Автоматизация звука Р. Логопедическое занятие</h2>
            <video class ="video" src="/media/video2.mp4" controls="controls" type="video/mp4"></video>
        </div>
    </div>
    
</div>

{% endblock %}
